<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="../static/css/about.css">
    <title>About | FashionBucket</title>
</head>

<body>
    <div class="container">
        <%- include('partials/header.ejs');-%>
    </div>

    <div class="section">
        <div class="content">
            <div class="content-section">
                <div class="title">
                    <h1> About US</h1>
                </div>
                <div class="content-item">
                    <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h3>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took a galley of type and scrambled it to make a type specimen book. It has survived
                        not
                        only five
                        centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                    <div class="button">
                        <a href="">Read More</a>
                    </div>
                </div>
                <div class="social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="image-section">
                <img
                    src="https://image.shutterstock.com/image-photo/new-man-laptop-internet-office-260nw-1566459247.jpg">
            </div>
        </div>
    </div>

    <!-- ---------------Footer----------------- -->
    <%- include('partials/footer.ejs');-%>

</body>

</html>