<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/contact.css">
    <title>Contact | FashionBucket</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js">
</head>
<body>
    <div class="container">
        <%- include('partials/header.ejs');-%>
    </div>
    <div class="contact-section">
        <div class="contact-info">
            <div><i class="fas fa-map-marker-alt"></i>Address ,city,country</div>
            <div><i class="fas fa-envelope"></i>contact@gmail.com </div>
            <div><i class="fas fa-phone"></i>+00 000 000 0000</div>
            <div><i class="fas fa-clock"></i>mon to friday 8:00 am to 5:00pm </div>
        </div>
        <div class="contact-form">
            <h2> Contact US</h2>
            <form class="contact" action="" method="post">
                <input type="text" name="name" class="text-box" placeholder="your name" required>
                <input type="email" name="email" class="text-box" placeholder="your mail" required>
                <textarea name="message" rows="5" placeholder="your message" required> </textarea>
                <input type="submit" name="submit" class="send-btn" value="send">
            </form>
        </div>
    </div>
  
    <!-- ---------------Footer----------------- -->
    <%- include('partials/footer.ejs');-%>

</body>
</html>
